body {
    background-color: rgb(175, 38, 79);
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
}

.header-footer {
    background-color: #f5c6c6;
    color: rgb(192, 5, 77);
    text-align: center;
    padding: 3px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #ce4b72;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #fcbac37e;
    border-radius: 5px;
}

.content {
    display: flex;
    margin: 20px;
    
}

.main-content {
    width: 70%;
    background-color: #ffdae5;
    padding: 20px;
    margin-right: 10px;
    border-radius: 15px;
}

.sidebar:hover {
    background-color: #e75d87;
}

input[type="text"] {
    width: 200px;
    transition: width 0.3s ease;
}

input[type="text"]:focus {
    width: 300px;
}   

.sidebar {
    width: 30%;
    background-color: #f5a9b8;
    padding: 20px;
    margin-left: 10px;
    border-radius: 15px;
}